
body {
  font-family: 'Lato';
}
main {
  > .listing-section {
    margin: 10px;
  }
  > .filter-section {
    height: 60px;

    border: 1px solid #dedede;
    border-radius: 6px;

    line-height: 60px;

    padding: 10px;
    margin: 10px;


    select {
      width: 100%;

      margin: 0;
      padding: 0;

      height: 60px;
    }

  }
}